.rbc-btn-group:nth-child(3) button:not(.rbc-active) {
    display: none;
  }

  .rbc-btn-group:nth-child(3) button.rbc-active {
    display: none;
}

.rbc-btn-group > button {
  height: 35px;
  font-size: 15px;
  font-weight: 600;
}

*{
  padding: 0;
  margin: 0;
}

.rbc-toolbar-label{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.MuiDateCalendar-root{
  height: 290px !important;
}

.MuiDayCalendar-weekContainer{
  margin: 0px !important;
}