.rbc-btn-group:nth-child(3) button:not(.rbc-active) {
    display: none;
  }

  .rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

*{
  padding: 0;
  margin: 0;
}

.rbc-toolbar-label{
  font-size: 30px;
}